nav.toc {
    width: 15em;
}

article {
    margin-left: 17em;
}

@media only screen and (max-width: 768px) {
    article {
        margin-left: 0;
    }
}

img {
    /* width: 60%;
    height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin: 0 auto;
}

.admonition.warning {
    background-color: #fcece8;
}
.admonition.warning > .admonition-title {
    background-color: #d9907a;
}
.admonition.comment {
    background-color: #d1ded1;
}
.admonition.comment > .admonition-title {
    background-color: #45ab41;
}
.admonition.wip > .admonition-title {
    background-color: #e05a53;
}
