nav.toc {
    width: 15em;
}

article {
    margin-left: 17em;
}

@media only screen and (max-width: 768px) {
    article {
        margin-left: 0;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
